<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>chatbot</title>
</head>
<body>
	<div class="top"></div>
	<div class="content">
		<div class="chatbot">
			<div class="img"></div>
			<div class="bubble">
				<div class="angle"></div>
				<div class="box"><p>你好，欢迎进入木犀聊天平台。在这里，我们为你解答...</p></div>
			</div>
		</div>
		<div class="chatbot">
			<div class="img"></div>
			<div class="bubble">
				<div class="angle"></div>
				<div class="box"><p>你好，欢迎进入木犀聊天平台。在这里，我们为你解答...你好，欢迎进入木犀聊天平台。在这里，我们为你解答...</p></div>
			</div>
		</div>
		<div class="chatbot">
			<div class="img"></div>
			<div class="bubble">
				<div class="angle"></div>
				<div class="box"><p>你好，欢迎进入木犀聊天平台。在这里，我们为你解答...你好，欢迎进入木犀聊天平台。在这里，我们为你解答...你好，欢迎进入木犀聊天平台。在这里，我们为你解答...</p></div>
			</div>
		</div>
		<div class="user">
			<div class="img"></div>
			<div class="bubble">
				<div class="angle"></div>
				<div class="box"><p>你好，欢迎进入木犀聊天平台。在这里，我们为你解答...你好，欢迎进入木犀聊天平台。在这里，我们为你解答...你好，欢迎进入木犀聊天平台。在这里，我们为你解答...</p></div>
			</div>
		</div>
	</div>
	<div class="input">
		<input type="text" name="text" placeholder="你想知道什么？">
		<button type="submit"></button>
	</div>
	<script src="/bundle.js"></script>
</body>
</html>